@model RouteWayAPP.Models.Stop

@{
    ViewData["Title"] = "Stop Details";
}

<h1>Stop Details</h1>

<div>
    <h4>Stop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Stop Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StopId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Day of Week
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            Store Name
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink($"{@ViewBag.Store.StoreName}", "StoreDetails", new { storeId = @ViewBag.Store.StoreId})
        </dd>
        <dt class="col-sm-2">
            Employee Name
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink($"{@ViewBag.Employee.Name}", "EmployeeDetails", new { employeeId = Model.EmployeeId })
        </dd>
        @if (Model.DeliveryId != null)
        {
            <dt class="col-sm-2">
                Delivery
            </dt>
            <dd class="col-sm-10">
                @Html.ActionLink("Delivery Details", "DeliveryDetails", new { deliveryId = Model.DeliveryId })
            </dd>
        }
    </dl>
</div>
