@model Repository.Models.Store

@{
    ViewData["Title"] = "StoreDetails";
}

<h1>StoreDetails</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
    </dl>
    List of stops goes here
</div>


<h3>Map View</h3>
<script>
  var map;
  function initialize() {
      var mapOptions = {
      center: {lat: @Model.Lat, lng: @Model.Long},
      zoom: 17,
    }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var marker = new google.maps.Marker({
            map: map,
            position: {lat: @Model.Lat, lng: @Model.Long}
        });
  }</script>
<body onload="initialize()">
    <div id="map" style="width: 700px; height: 480px;"></div>
</body>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key= + @KeyVariables.GoogleKey">
</script>