@model RouteWayAPP.Models.Store

@{
    ViewData["Title"] = "Store Details";
}

    <h1>
        @Html.DisplayFor(model => model.StoreName)
    </h1>

<div>
    <h4>
        Store Details
    </h4>
    <hr />
</div>
<div class="row">
    <div class="col-sm-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StreetAddress)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StreetAddress)
            </dd>
            <dt class="col-sm-4">
                Phone Number
            </dt>
            <dd class="col-sm-8">
                @ViewBag.StoreInfo.result.formatted_phone_number
            </dd>
            <dt class="col-sm-4">
                Rating
            </dt>
            <dd class="col-sm-8">
                @ViewBag.StoreInfo.result.rating
            </dd>
        </dl>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Day of Week
                    </th>
                    <th>
                        Employee Name
                    </th>
                    <th>
                        Service Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var schedule in Model.Schedule.ScheduleStops)
                {
                    if (schedule.Stop.Type != "Drop Off")
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => schedule.Stop.DayOfWeek)
                            </td>
                            <td>
                                @foreach (var employee in ViewBag.Employees)
                                {
                                    if (employee.EmployeeId == schedule.Stop.EmployeeId)
                                    {
                                        <a asp-action="EmployeeDetails" asp-route-employeeId="@schedule.Stop.EmployeeId">@employee.Name</a>
                                    }
                                }
                            </td>
                            <td>
                                @if (schedule.Stop.Type == "Delivery")
                                {
                                    @Html.ActionLink($"{schedule.Stop.Type}", "DeliveryDetails", new { deliveryId = schedule.Stop.DeliveryId })
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => schedule.Stop.Type)
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <body onload="initialize()">
            <div id="map" style="width: 700px; height: 480px;"></div>
        </body>
    </div>
</div>

<script>
  var map;
  function initialize() {
      var mapOptions = {
      center: {lat: @Model.Lat, lng: @Model.Long},
      zoom: 17,
    }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var marker = new google.maps.Marker({
            map: map,
            position: {lat: @Model.Lat, lng: @Model.Long}
        });
  }</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@KeyVariables.GoogleKey">
</script>